body{
    margin: 0; 
    background: #eee;
}  
.divmain{
    border: solid rgb(201, 199, 199) 1px;  
    width:30%;  
    border-radius: 2px;  
    margin: 10px auto;  
    background: white;  
    padding: 50px;
}
.btn {
    color: #fff;  
    background: #337ab7;  
    padding: 7px;
    cursor: pointer;
}
label {
    font-weight:bold;
    width:100px;
    font: size 15px;
}
h4{
    font-weight: 900;
    color: #337ab7;
    text-align: center;
}
h1{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
table{
    width: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
}
td,th{
    border:1px solid #ddd;
    padding: 10px;
}
table tr:hover{
    background: #fff;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: lightblue;
    color: ivory;
}
.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover{
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: #04AA6D;
    color: white;
}
.card{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 300px;
    float: left;
    text-align: center;
}
.card:hover{
    opacity: 80%;
}
#imagePreview{
    /* max-width: 70px; */
    max-height: 70px;
    width: auto;
    /* height: auto; */
}